@import url('../files/fonts/gilroy/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

body {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Bold', 'Gilroy-Heavy', 'Roboto', 'Segoe UI','Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F9F9F9 !important;
}

.category-badge {
  font-family: 'Roboto', sans-serif !important;
  font-size: 12px !important;
  text-decoration: none !important;
  color: #5669FF !important;
  margin: 3px;
}


.post-content p {
  margin-top: 0 !important;
}
.post-content p img, .ql-video {
  text-align: center !important;
  padding-top: 5px !important;
  max-width: 100% !important;
  border-radius: 10px !important;
} 
.post-content p,
.post-content ul li {
  border-radius: 5px !important;
  max-width: 100% !important;
  text-align: left;
  font-size: 14px !important;
  font-style: normal !important;
  line-height: 160%;
  font-family: 'Roboto', sans-serif !important;
  color: '#2E3A59' !important;
}

.content-row {
  border-bottom: 1px solid #E9E9E9;
}

.content-row:last-child  {
  border-bottom: none !important;
}